/.idea/.gitignore
/dist/Interface/lib-dynload/_asyncio.cpython-39-darwin.so
/dist/Interface/lib-dynload/_bisect.cpython-39-darwin.so
/dist/Interface/lib-dynload/_blake2.cpython-39-darwin.so
/dist/Interface/lib-dynload/_bz2.cpython-39-darwin.so
/dist/Interface/lib-dynload/_codecs_cn.cpython-39-darwin.so
/dist/Interface/lib-dynload/_codecs_hk.cpython-39-darwin.so
/dist/Interface/lib-dynload/_codecs_iso2022.cpython-39-darwin.so
/dist/Interface/lib-dynload/_codecs_jp.cpython-39-darwin.so
/dist/Interface/lib-dynload/_codecs_kr.cpython-39-darwin.so
/dist/Interface/lib-dynload/_codecs_tw.cpython-39-darwin.so
/dist/Interface/lib-dynload/_contextvars.cpython-39-darwin.so
/dist/Interface/lib-dynload/_csv.cpython-39-darwin.so
/dist/Interface/lib-dynload/_ctypes.cpython-39-darwin.so
/dist/Interface/lib-dynload/_datetime.cpython-39-darwin.so
/dist/Interface/lib-dynload/_decimal.cpython-39-darwin.so
/dist/Interface/lib-dynload/_hashlib.cpython-39-darwin.so
/dist/Interface/lib-dynload/_heapq.cpython-39-darwin.so
/dist/Interface/lib-dynload/_json.cpython-39-darwin.so
/dist/Interface/lib-dynload/_lzma.cpython-39-darwin.so
/dist/Interface/lib-dynload/_md5.cpython-39-darwin.so
/dist/Interface/lib-dynload/_multibytecodec.cpython-39-darwin.so
/dist/Interface/lib-dynload/_multiprocessing.cpython-39-darwin.so
/dist/Interface/lib-dynload/_opcode.cpython-39-darwin.so
/dist/Interface/lib-dynload/_pickle.cpython-39-darwin.so
/dist/Interface/lib-dynload/_posixshmem.cpython-39-darwin.so
/dist/Interface/lib-dynload/_posixsubprocess.cpython-39-darwin.so
/dist/Interface/lib-dynload/_queue.cpython-39-darwin.so
/dist/Interface/lib-dynload/_random.cpython-39-darwin.so
/dist/Interface/lib-dynload/_scproxy.cpython-39-darwin.so
/dist/Interface/lib-dynload/_sha1.cpython-39-darwin.so
/dist/Interface/lib-dynload/_sha3.cpython-39-darwin.so
/dist/Interface/lib-dynload/_sha256.cpython-39-darwin.so
/dist/Interface/lib-dynload/_sha512.cpython-39-darwin.so
/dist/Interface/lib-dynload/_socket.cpython-39-darwin.so
/dist/Interface/lib-dynload/_ssl.cpython-39-darwin.so
/dist/Interface/lib-dynload/_statistics.cpython-39-darwin.so
/dist/Interface/lib-dynload/_struct.cpython-39-darwin.so
/dist/Interface/lib-dynload/_tkinter.cpython-39-darwin.so
/dist/Interface/tcl/msgs/af.msg
/dist/Interface/tcl/msgs/af_za.msg
/dist/Interface/tk/ttk/altTheme.tcl
/logs/amulet_core.log
/build/Interface/Analysis-00.toc
/dist/Interface/tk/ttk/aquaTheme.tcl
/dist/Interface/tcl/msgs/ar.msg
/dist/Interface/tcl/msgs/ar_in.msg
/dist/Interface/tcl/msgs/ar_jo.msg
/dist/Interface/tcl/msgs/ar_lb.msg
/dist/Interface/tcl/msgs/ar_sy.msg
/dist/Interface/lib-dynload/array.cpython-39-darwin.so
/dist/Interface/tcl/encoding/ascii.enc
/dist/Interface/tcl/auto.tcl
/build/Interface/base_library.zip
/dist/Interface/base_library.zip
/dist/Interface/tcl/msgs/be.msg
/dist/Interface/tcl/msgs/bg.msg
/dist/Interface/tk/bgerror.tcl
/dist/Interface/tcl/encoding/big5.enc
/dist/Interface/lib-dynload/binascii.cpython-39-darwin.so
/dist/Interface/tcl/msgs/bn.msg
/dist/Interface/tcl/msgs/bn_in.msg
/build/Interface/BUNDLE-00.toc
/dist/Interface/tk/ttk/button.tcl
/dist/Interface/tk/button.tcl
/dist/Interface/tcl/msgs/ca.msg
/dist/Interface/tk/choosedir.tcl
/dist/Interface/tk/ttk/clamTheme.tcl
/dist/Interface/tk/ttk/classicTheme.tcl
/dist/Interface/tcl/clock.tcl
/dist/Interface/tk/clrpick.tcl
/build/Interface/COLLECT-00.toc
/dist/Interface/tk/ttk/combobox.tcl
/dist/Interface/tk/comdlg.tcl
/dist/Interface/tk/console.tcl
/dist/Interface/tcl/encoding/cp437.enc
/dist/Interface/tcl/encoding/cp737.enc
/dist/Interface/tcl/encoding/cp775.enc
/dist/Interface/tcl/encoding/cp850.enc
/dist/Interface/tcl/encoding/cp852.enc
/dist/Interface/tcl/encoding/cp855.enc
/dist/Interface/tcl/encoding/cp857.enc
/dist/Interface/tcl/encoding/cp860.enc
/dist/Interface/tcl/encoding/cp861.enc
/dist/Interface/tcl/encoding/cp862.enc
/dist/Interface/tcl/encoding/cp863.enc
/dist/Interface/tcl/encoding/cp864.enc
/dist/Interface/tcl/encoding/cp865.enc
/dist/Interface/tcl/encoding/cp866.enc
/dist/Interface/tcl/encoding/cp869.enc
/dist/Interface/tcl/encoding/cp874.enc
/dist/Interface/tcl/encoding/cp932.enc
/dist/Interface/tcl/encoding/cp936.enc
/dist/Interface/tcl/encoding/cp949.enc
/dist/Interface/tcl/encoding/cp950.enc
/dist/Interface/tcl/encoding/cp1250.enc
/dist/Interface/tcl/encoding/cp1251.enc
/dist/Interface/tcl/encoding/cp1252.enc
/dist/Interface/tcl/encoding/cp1253.enc
/dist/Interface/tcl/encoding/cp1254.enc
/dist/Interface/tcl/encoding/cp1255.enc
/dist/Interface/tcl/encoding/cp1256.enc
/dist/Interface/tcl/encoding/cp1257.enc
/dist/Interface/tcl/encoding/cp1258.enc
/dist/Interface/tcl/msgs/cs.msg
/dist/Interface/tk/msgs/cs.msg
/dist/Interface/currentChoices.json
/dist/Interface/tk/ttk/cursors.tcl
/dist/Interface/tcl/msgs/da.msg
/dist/Interface/tk/msgs/da.msg
/dist/Interface/tcl/msgs/de.msg
/dist/Interface/tk/msgs/de.msg
/dist/Interface/tcl/msgs/de_at.msg
/dist/Interface/tcl/msgs/de_be.msg
/dist/Interface/tk/ttk/defaults.tcl
/dist/Interface/tk/dialog.tcl
/dist/Interface/tcl/encoding/dingbats.enc
/.idea/Discord-File-Breaker.iml
/dist/Interface/Downloader.py
/dist/Interface/tcl/encoding/ebcdic.enc
/dist/Interface/tcl/msgs/el.msg
/dist/Interface/tk/msgs/el.msg
/dist/Interface/tk/msgs/en.msg
/dist/Interface/tcl/msgs/en_au.msg
/dist/Interface/tcl/msgs/en_be.msg
/dist/Interface/tcl/msgs/en_bw.msg
/dist/Interface/tcl/msgs/en_ca.msg
/dist/Interface/tcl/msgs/en_gb.msg
/dist/Interface/tk/msgs/en_gb.msg
/dist/Interface/tcl/msgs/en_hk.msg
/dist/Interface/tcl/msgs/en_ie.msg
/dist/Interface/tcl/msgs/en_in.msg
/dist/Interface/tcl/msgs/en_nz.msg
/dist/Interface/tcl/msgs/en_ph.msg
/dist/Interface/tcl/msgs/en_sg.msg
/dist/Interface/tcl/msgs/en_za.msg
/dist/Interface/tcl/msgs/en_zw.msg
/dist/Interface/tk/ttk/entry.tcl
/dist/Interface/tk/entry.tcl
/dist/Interface/tcl/msgs/eo.msg
/dist/Interface/tk/msgs/eo.msg
/dist/Interface/tcl/msgs/es.msg
/dist/Interface/tk/msgs/es.msg
/dist/Interface/tcl/msgs/es_ar.msg
/dist/Interface/tcl/msgs/es_bo.msg
/dist/Interface/tcl/msgs/es_cl.msg
/dist/Interface/tcl/msgs/es_co.msg
/dist/Interface/tcl/msgs/es_cr.msg
/dist/Interface/tcl/msgs/es_do.msg
/dist/Interface/tcl/msgs/es_ec.msg
/dist/Interface/tcl/msgs/es_gt.msg
/dist/Interface/tcl/msgs/es_hn.msg
/dist/Interface/tcl/msgs/es_mx.msg
/dist/Interface/tcl/msgs/es_ni.msg
/dist/Interface/tcl/msgs/es_pa.msg
/dist/Interface/tcl/msgs/es_pe.msg
/dist/Interface/tcl/msgs/es_pr.msg
/dist/Interface/tcl/msgs/es_py.msg
/dist/Interface/tcl/msgs/es_sv.msg
/dist/Interface/tcl/msgs/es_uy.msg
/dist/Interface/tcl/msgs/es_ve.msg
/dist/Interface/tcl/msgs/et.msg
/dist/Interface/tcl/msgs/eu.msg
/dist/Interface/tcl/msgs/eu_es.msg
/dist/Interface/tcl/encoding/euc-cn.enc
/dist/Interface/tcl/encoding/euc-jp.enc
/dist/Interface/tcl/encoding/euc-kr.enc
/build/Interface/EXE-00.toc
/dist/Interface/tcl/msgs/fa.msg
/dist/Interface/tcl/msgs/fa_in.msg
/dist/Interface/tcl/msgs/fa_ir.msg
/dist/Interface/tcl/msgs/fi.msg
/dist/Interface/tcl/msgs/fo.msg
/dist/Interface/tcl/msgs/fo_fo.msg
/dist/Interface/tk/focus.tcl
/dist/Interface/tk/fontchooser.tcl
/dist/Interface/tk/ttk/fonts.tcl
/dist/Interface/tcl/msgs/fr.msg
/dist/Interface/tk/msgs/fr.msg
/dist/Interface/tcl/msgs/fr_be.msg
/dist/Interface/tcl/msgs/fr_ca.msg
/dist/Interface/tcl/msgs/fr_ch.msg
/dist/Interface/tcl/msgs/ga.msg
/dist/Interface/tcl/msgs/ga_ie.msg
/dist/Interface/tcl/encoding/gb1988.enc
/dist/Interface/tcl/encoding/gb2312.enc
/dist/Interface/tcl/encoding/gb2312-raw.enc
/dist/Interface/tcl/encoding/gb12345.enc
/dist/Interface/tcl/msgs/gl.msg
/dist/Interface/tcl/msgs/gl_es.msg
/dist/Interface/lib-dynload/grp.cpython-39-darwin.so
/dist/Interface/tcl/msgs/gv.msg
/dist/Interface/tcl/msgs/gv_gb.msg
/dist/Interface/tcl/msgs/he.msg
/dist/Interface/tcl/msgs/hi.msg
/dist/Interface/tcl/msgs/hi_in.msg
/dist/Interface/tcl/history.tcl
/dist/Interface/tcl/msgs/hr.msg
/dist/Interface/tcl/http1.0/http.tcl
/dist/Interface/tcl8/8.6/http-2.8.12.tm
/dist/Interface/tcl/msgs/hu.msg
/dist/Interface/tk/msgs/hu.msg
/dist/Interface/tk/iconlist.tcl
/dist/Interface/tk/icons.tcl
/dist/Interface/tcl/msgs/id.msg
/dist/Interface/tcl/msgs/id_id.msg
/dist/Interface/tcl/init.tcl
/build/Interface/Interface
/dist/Interface/Interface
/build/Interface/Interface.pkg
/Interface.spec
/dist/Interface/tcl/msgs/is.msg
/dist/Interface/tcl/encoding/iso2022.enc
/dist/Interface/tcl/encoding/iso2022-jp.enc
/dist/Interface/tcl/encoding/iso2022-kr.enc
/dist/Interface/tcl/encoding/iso8859-1.enc
/dist/Interface/tcl/encoding/iso8859-2.enc
/dist/Interface/tcl/encoding/iso8859-3.enc
/dist/Interface/tcl/encoding/iso8859-4.enc
/dist/Interface/tcl/encoding/iso8859-5.enc
/dist/Interface/tcl/encoding/iso8859-6.enc
/dist/Interface/tcl/encoding/iso8859-7.enc
/dist/Interface/tcl/encoding/iso8859-8.enc
/dist/Interface/tcl/encoding/iso8859-9.enc
/dist/Interface/tcl/encoding/iso8859-10.enc
/dist/Interface/tcl/encoding/iso8859-13.enc
/dist/Interface/tcl/encoding/iso8859-14.enc
/dist/Interface/tcl/encoding/iso8859-15.enc
/dist/Interface/tcl/encoding/iso8859-16.enc
/dist/Interface/tcl/msgs/it.msg
/dist/Interface/tk/msgs/it.msg
/dist/Interface/tcl/msgs/it_ch.msg
/dist/Interface/tcl/msgs/ja.msg
/dist/Interface/tcl/encoding/jis0201.enc
/dist/Interface/tcl/encoding/jis0208.enc
/dist/Interface/tcl/encoding/jis0212.enc
/dist/Interface/tcl/msgs/kl.msg
/dist/Interface/tcl/msgs/kl_gl.msg
/dist/Interface/tcl/msgs/ko.msg
/dist/Interface/tcl/msgs/ko_kr.msg
/dist/Interface/tcl/encoding/koi8-r.enc
/dist/Interface/tcl/encoding/koi8-u.enc
/dist/Interface/tcl/msgs/kok.msg
/dist/Interface/tcl/msgs/kok_in.msg
/dist/Interface/tcl/encoding/ksc5601.enc
/dist/Interface/tcl/msgs/kw.msg
/dist/Interface/tcl/msgs/kw_gb.msg
/dist/Interface/libcrypto.1.1.dylib
/dist/Interface/libncursesw.5.dylib
/dist/Interface/libssl.1.1.dylib
/dist/Interface/libtcl8.6.dylib
/dist/Interface/libtk8.6.dylib
/dist/Interface/tk/listbox.tcl
/dist/Interface/tk/images/logo.eps
/dist/Interface/tk/images/logo64.gif
/dist/Interface/tk/images/logo100.gif
/dist/Interface/tk/images/logoLarge.gif
/dist/Interface/tk/images/logoMed.gif
/dist/Interface/tcl/msgs/lt.msg
/dist/Interface/tcl/msgs/lv.msg
/dist/Interface/tcl/encoding/macCentEuro.enc
/dist/Interface/tcl/encoding/macCroatian.enc
/dist/Interface/tcl/encoding/macCyrillic.enc
/dist/Interface/tcl/encoding/macDingbats.enc
/dist/Interface/tcl/encoding/macGreek.enc
/dist/Interface/tcl/encoding/macIceland.enc
/dist/Interface/tcl/encoding/macJapan.enc
/dist/Interface/tcl/encoding/macRoman.enc
/dist/Interface/tcl/encoding/macRomania.enc
/dist/Interface/tcl/encoding/macThai.enc
/dist/Interface/tcl/encoding/macTurkish.enc
/dist/Interface/tcl/encoding/macUkraine.enc
/dist/Interface/lib-dynload/math.cpython-39-darwin.so
/dist/Interface/tk/megawidget.tcl
/dist/Interface/tk/menu.tcl
/dist/Interface/tk/ttk/menubutton.tcl
/.idea/misc.xml
/dist/Interface/tcl/msgs/mk.msg
/dist/Interface/tk/mkpsenc.tcl
/dist/Interface/lib-dynload/mmap.cpython-39-darwin.so
/.idea/modules.xml
/dist/Interface/tcl/msgs/mr.msg
/dist/Interface/tcl/msgs/mr_in.msg
/dist/Interface/tcl/msgs/ms.msg
/dist/Interface/tcl/msgs/ms_my.msg
/dist/Interface/tk/msgbox.tcl
/dist/Interface/tcl8/8.5/msgcat-1.6.1.tm
/dist/Interface/tcl/msgs/mt.msg
/dist/Interface/tcl/msgs/nb.msg
/dist/Interface/tcl/msgs/nl.msg
/dist/Interface/tk/msgs/nl.msg
/dist/Interface/tcl/msgs/nl_be.msg
/dist/Interface/tcl/msgs/nn.msg
/dist/Interface/tk/ttk/notebook.tcl
/dist/Interface/tk/obsolete.tcl
/dist/Interface/tk/optMenu.tcl
/dist/Interface/tcl/opt0.4/optparse.tcl
/dist/Interface/tcl/package.tcl
/dist/Interface/tk/palette.tcl
/dist/Interface/tk/ttk/panedwindow.tcl
/dist/Interface/tk/panedwindow.tcl
/dist/Interface/tcl/parray.tcl
/build/Interface/PKG-00.toc
/dist/Interface/tcl/http1.0/pkgIndex.tcl
/dist/Interface/tcl/opt0.4/pkgIndex.tcl
/dist/Interface/tk/pkgIndex.tcl
/dist/Interface/tcl/msgs/pl.msg
/dist/Interface/tk/msgs/pl.msg
/dist/Interface/tcl8/8.4/platform-1.0.14.tm
/.idea/inspectionProfiles/profiles_settings.xml
/dist/Interface/tk/ttk/progress.tcl
/.idea/inspectionProfiles/Project_Default.xml
/dist/Interface/tcl/msgs/pt.msg
/dist/Interface/tk/msgs/pt.msg
/dist/Interface/tcl/msgs/pt_br.msg
/dist/Interface/tk/images/pwrdLogo.eps
/dist/Interface/tk/images/pwrdLogo75.gif
/dist/Interface/tk/images/pwrdLogo100.gif
/dist/Interface/tk/images/pwrdLogo150.gif
/dist/Interface/tk/images/pwrdLogo175.gif
/dist/Interface/tk/images/pwrdLogo200.gif
/dist/Interface/lib-dynload/pyexpat.cpython-39-darwin.so
/logs/pymctranslate.log
/dist/Interface/Python
/build/Interface/PYZ-00.pyz
/build/Interface/PYZ-00.toc
/dist/Interface/lib-dynload/readline.cpython-39-darwin.so
/dist/Interface/tk/images/README
/dist/Interface/lib-dynload/resource.cpython-39-darwin.so
/dist/Interface/tcl/msgs/ro.msg
/dist/Interface/tcl/msgs/ru.msg
/dist/Interface/tk/msgs/ru.msg
/dist/Interface/tcl/msgs/ru_ua.msg
/dist/Interface/tcl/safe.tcl
/dist/Interface/tk/safetk.tcl
/dist/Interface/tk/ttk/scale.tcl
/dist/Interface/tk/scale.tcl
/dist/Interface/tk/scrlbar.tcl
/dist/Interface/tk/ttk/scrollbar.tcl
/dist/Interface/lib-dynload/select.cpython-39-darwin.so
/dist/Interface/tcl/msgs/sh.msg
/dist/Interface/tcl8/8.4/platform/shell-1.1.4.tm
/dist/Interface/tcl/encoding/shiftjis.enc
/dist/Interface/tk/ttk/sizegrip.tcl
/dist/Interface/tcl/msgs/sk.msg
/dist/Interface/tcl/msgs/sl.msg
/dist/Interface/tk/ttk/spinbox.tcl
/dist/Interface/tk/spinbox.tcl
/dist/Interface/SplitFile.py
/dist/Interface/tcl/msgs/sq.msg
/dist/Interface/tcl8/8.6/tdbc/sqlite3-1.0.6.tm
/dist/Interface/tcl/msgs/sr.msg
/dist/Interface/tcl/msgs/sv.msg
/dist/Interface/tk/msgs/sv.msg
/dist/Interface/tcl/msgs/sw.msg
/dist/Interface/tcl/encoding/symbol.enc
/dist/Interface/tcl/msgs/ta.msg
/dist/Interface/tcl/msgs/ta_in.msg
/dist/Interface/tk/images/tai-ku.gif
/dist/Interface/tcl/tclAppInit.c
/dist/Interface/tcl/tclIndex
/dist/Interface/tk/tclIndex
/dist/Interface/tcl8/8.5/tcltest-2.4.1.tm
/dist/Interface/tcl/msgs/te.msg
/dist/Interface/tcl/msgs/te_in.msg
/dist/Interface/tk/tearoff.tcl
/dist/Interface/lib-dynload/termios.cpython-39-darwin.so
/dist/Interface/tk/text.tcl
/dist/Interface/tcl/msgs/th.msg
/dist/Interface/tcl/encoding/tis-620.enc
/dist/Interface/tk/tk.tcl
/dist/Interface/tk/tkAppInit.c
/dist/Interface/tk/tkfbox.tcl
/dist/Interface/tcl/tm.tcl
/dist/Interface/tcl/msgs/tr.msg
/build/Interface/Tree-00.toc
/build/Interface/Tree-01.toc
/build/Interface/Tree-02.toc
/dist/Interface/tk/ttk/treeview.tcl
/dist/Interface/tk/ttk/ttk.tcl
/dist/Interface/tcl/msgs/uk.msg
/dist/Interface/lib-dynload/unicodedata.cpython-39-darwin.so
/dist/Interface/tk/unsupported.tcl
/dist/Interface/Uploader.py
/dist/Interface/tk/ttk/utils.tcl
/.idea/vcs.xml
/dist/Interface/tcl/msgs/vi.msg
/dist/Interface/tk/ttk/vistaTheme.tcl
/build/Interface/warn-Interface.txt
/dist/Interface/tk/ttk/winTheme.tcl
/dist/Interface/tcl/word.tcl
/dist/Interface/tk/xmfbox.tcl
/dist/Interface/tk/ttk/xpTheme.tcl
/build/Interface/xref-Interface.html
/dist/Interface/tcl/msgs/zh.msg
/dist/Interface/tcl/msgs/zh_cn.msg
/dist/Interface/tcl/msgs/zh_hk.msg
/dist/Interface/tcl/msgs/zh_sg.msg
/dist/Interface/tcl/msgs/zh_tw.msg
/dist/Interface/lib-dynload/zlib.cpython-39-darwin.so
